<div class="container d-flex justify-content-center align-items-center vh-100">
  <div
    class="text-center p-5 border rounded shadow-lg d-flex flex-column"
    style="max-width: 500px; background-color: #f8f9fa"
  >
    <h1 class="mb-4">Quiz Title</h1>
    <input
      [(ngModel)]="username"
      (ngModelChange)="checkStartQuizEnabled()"
      class="form-control mb-4"
      type="text"
      placeholder="Enter your username"
      style="font-size: 1.5rem; padding: 1rem"
    />
    <input
      type="file"
      (change)="onFileSelected($event)"
      class="form-control mb-4"
      style="font-size: 1.5rem; padding: 1rem"
    />
    <button
      (click)="startQuiz()"
      class="btn btn-primary btn-lg"
      style="font-size: 1.5rem"
      [disabled]="startQuizDisabled"
    >
      Start Quiz
    </button>
    <div
      *ngIf="loading"
      class="d-flex justify-content-center align-items-center vh-100"
    >
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <button
      class="btn btn-warning btn-lg"
      style="font-size: 1.5rem"
      [routerLink]="['/leaderboard']"
    >
      Leaderboard
    </button>
  </div>
</div>
